<% var hasVideo = !!video.get('id') %>
<% var videoChoice = video.escape('question_choice') %>
<div class="profile-body">
  <div class="col-sm-4">
    <div class="info">
      <h2>Create a 70-90 second introduction for hiring managers.</h2>
      <p>Over 90% of successfully placed candidates record a video. Videos let you demonstrate your language skills, personality and energy to hiring managers and give the chance to make a great first impression</p>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="first-fields form_fields">
      <% if (hasVideo) { %>
        <p class="alert alert-success">You have recorded your video! If you wish to record again, you can do so below</p> 
      <% } %>
      <form class="video_submit">
        <div class="form-group has-feedback <%= videoChoice ? 'has-success' : null %>">
          <p>Pick a question to answer below. Feel free to include your professional background, interests, and goals. Please speak in Mandarin, and remember, the more specific the better.</p>

          <select id="video_choice" name="question_choice" class="video-app-field form-control chosen-select"> 
            <% _.each(Atlas.videoChoices, function(choice){ %>
              <option value="<%= choice %>" <%= _(choice).escape() === videoChoice ? 'selected' : null %> >
                <%= choice %>
              </option>
            <% }) %>
          </select>
        </div>
        
        <camera id="AtlasApp" class="atlas-vid" data-uuid="d28a0470-53fb-0131-ffc4-22000a499ea4" name="video"></camera>
      </form>
    </div>
  </div>
</div>