<div class="form-group">
  <label for="nationality">Nationality</label>
  <select id="nationality" class="form-control chosen-select" data-placeholder="e.g Canadian"> 
    <option value="Canadian"> Canadian</option>
    <option value="United States"> United States</option>
    <option value="Mexico"> Mexico</option>
    <option value="Germany"> Germany</option>
  </select>
</div>

<div class="form-group">
  <label for="graduation">Graduation Year</label>
  <select id="nationality" class="form-control chosen-select"> 
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
  </select>
</div>