<div class="col-sm-12">
  <div class="container">
    <div class="profile-body">
      <div class="col-sm-3">
        <div class="info">
          <h2>A little about you</h2>
          <p>Your name, where you're from, and when you graduated</p>
        </div>
      </div>
      <div class="col-sm-9"
        <div class="form_fields">
        </div>
        <hr>
        <a href="#/on-china" class="btn btn-primary" Continue &rarr;
      </div>
    </div>
  </div>
</div>