<div class="form-group has-success has-feedback">
  <label for="full_name">Full Name</label>
  <input id="full_name" class="form-control user-field" type="text" name="user[name]" value="Stepan Parunashvili">
  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
</div>

<div class="form-group">
  <label for="nationality">Nationality</label>
  <select id="nationality" class="common-app-field form-control chosen-select" data-placeholder="e.g Canadian"> 
    <option value="Canadian"> Canadian</option>
    <option value="United States"> United States</option>
    <option value="Mexico"> Mexico</option>
    <option value="Germany"> Germany</option>
  </select>
</div>

<div class="form-group">
  <label for="current-city">Current City</label>
  <input id="current-city" class="form-control common-app-field" type="text" name="common_app[current-city]" value="" placeholder="e.g Toronto">
</div>

<div class="form-group">
  <label for="graduation">Graduation Year</label>
  <select id="graduation" class="common-app-field form-control chosen-select" data-placeholder="e.g 2009"> 
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
  </select>
</div>

<div class="form-group">
  <label for="graduation">Ideal Salary</label>
  <select id="graduation" class="common-app-field form-control chosen-select" data-placeholder="e.g 30000 Yuan / month"> 
    <option value="10000">10000 Yuan/month</option>
    <option value="20000">20000 Yuan/month</option>
    <option value="40000">40000 Yuan/month</option>
    <option value="80000">80000 Yuan/month</option>
  </select>
</div>
