<div class="profile-body">
  <div class="col-sm-4">
    <div class="info">
      <h2>A little about you</h2>
      <p>Your name, where you're from, and when you graduated</p>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="first-fields form_fields">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="info">
      <h2>On China</h2>
      <p>Your chinese ability, preferred cities and industries.</p>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="second-fields form_fields">
    </div>
    <hr>
    <a href="#/on-china" class="btn btn-primary"> Continue &rarr;</a>
  </div>
</div>

