<% var bonus = user.commonApp().escape('bonus_question') %>

<div class="form-group has-feedback <%= bonus ? 'has-success' : null %>">
  <label for="bonus_question">What’s the biggest professional challenge you have successfully surmounted? </label>
  <textarea id="bonus_question" class="form-control common-app-field" type="text" name="bonus_question"><%= bonus %></textarea>
  <span class="glyphicon glyphicon-ok form-control-feedback <%= bonus ? null : 'no-show' %>" ></span>
</div>