<div class="profile-body">
  <div class="col-sm-4">
    <div class="info">
      <h2>Your Career Goals</h2>
      <p>Let us know what your goals are, what your best fit is, and we'll show you the opportunities that will help you excel</p>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="first-fields form_fields">
    </div>
  </div>
</div>
<div class="profile-body">
  <div class="col-sm-4">
    <div class="info">
      <h2>Bonus Question</h2>
      <p>Answer whichever one of these three questions speaks to you the most and makes you sound the best</p>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="second-fields form_fields">
    </div>
    <hr>
    <a href="#/video" class="btn btn-primary"> Continue &rarr;</a>
  </div>
</div>