<div class="admin-profile-header clearfix">
</div><!--header-->

<% var videoCode = user.video().get('video_uuid'); %>
<% if (videoCode) { %>
  <div class="col-md-2 col-lg-2 profile-video">
    <video id='video-<%= user.id %>' data-uuid='<%= videoCode %>'></video>
  </div>
<% } %>
  
<div class="col-sm-12 col-md-4">
  <div class="admin-profile-answer">
  </div><!--admin-profile-answer-->
</div>

<div class="<%= videoCode ? 'col-md-7 col-lg-6' : 'col-md-7 col-md-offset-1' %>">
  <% var adminNote = user.escape('admin_note'); %>
  <div class="admin-note">
    <div class="form-group">
      <label for="admin_note" class="glyphicon glyphicon-pencil admin-note-icon"></label>
      <textarea name="admin_note" id="admin_note"
        class="user-info-field form-control admin-note" placeholder="Admin Notes"><%= adminNote %></textarea>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="row">
    <div class="admin-common-app-deeper">
    </div>
  </div> 
</div>

<div class="col-sm-12">
  <div class="row">
    <div class="admin-view-user-applications">
    </div>
  </div><!--row-->
</div><!--col-12>