.content-header
h3 Apply Now #{ @user.name }

p Answer the questions below to apply instantly!
| You can answer either by recording a video, or by writing your answer in.

== render 'shared/apply_to_job'
