<li>
    <h3><%= link_to job.job_title, job %></h3>
    <p><%= job.job_summary %></p>
    <% if  current_user && current_user.admin? %>
      | <%= link_to "delete", job, method: :delete,
                                  data: { confirm: "You sure?" } %>
  	<% end %>
</li>