<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>


<%if @user.common_app.present? %>
	<h4>The status of common app coming soon</h4>
	<%= link_to "Show Common App", common_app_path %><span>, </span>
	<%= link_to "Edit Common App", edit_common_app_path %>
<% else %>
	<h4> It looks like you haven't filled in your common application. Click the button below to get started <br/> &nbsp; </h4> 
	<%= link_to "Get Started", new_common_app_path, :class => "button" %>
<% end %>
<hr />
<p><em>Job applications coming soon</em></p>

