== render 'shared/error_messages', object: f.object 
== f.label :question, "Choose your question prompt" 
== select(:video, :question, [['Why would you be effective in a sales/business development role in China?', 'Why would you be a valuable addition to an international team in China? '],['What is your most significant accomplishment or the best example of your leadership skills in China?', 'What is your most significant accomplishment or the best example of your leadership skills in China?'],['How would you help solve the biggest challenges Chinese companies and investors face when doing business abroad?','How would you help solve the biggest challenges Chinese companies and investors face when doing business abroad? ']] )

.pagination-centered
  camera id="AtlasApp" data-uuid="d28a0470-53fb-0131-ffc4-22000a499ea4"
  

