<li>Name : <%= current_user.name %></li>
<li>Email : <%= current_user.email %></li>
<li>Video Question : <%= video.question %> </li>
<li>Video: 
	<video id='PlayVideo' data-uuid='<%= video.video_cid %>'></video>
 </li>
<li>-------</li>
