<% provide(:title, "Edit Video App") %>
<h1>Edit Your Video App</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@video) do |f| %>
    
      <%= render 'fields', f: f %>

      <%= f.submit "Save changes", class: "button" %>
    <% end %>
  </div>
</div>