<% provide(:title, "Final step, Record a video of yourself") %>
 <div class="row">
 	<div class="span6 offset3">
<p>As part of our application process, we invite candidates to record a video that demonstrates their Mandarin skills directly to hiring managers and leads to getting job offers much faster.</p>

<p><strong>Please select a question prompt below and record your answer in Chinese in a casual, conversational 60-90 second video.
</strong></p>

<%= form_for [@user, @video] do |f| %>
 <%= render 'fields', f: f %>
 <%= f.submit "Submit the Video", class: "button", :style => "width:100%" %>
<% end %>
</div>
</div>