<div class="profile-body applications">
  <h2 class="container_header">My Job Applications</h2>
  <div class="col-sm-12">
    <table class="table">
      <tbody>
        <td>
          <a href="#">Job Application Name</a>
        </td>
        <td>
          <a href="#">Edit My Application</a>
        </td>
        <td>
          <a href="#">Cancel My Application</a>
        </td>
      </tbody>
    </table>

    <div class="center_button">
      <a href="#" class="atlas_button">Apply to more jobs!</a>
    </div>
  </div>
</div>
