<div class="profile-body applications">
  <h2 class="container_header">My Job Applications</h2>
  <div class="col-sm-12">
    
    <table class="table">
      <tbody>
        <% if (jobApps.length === 0) { %>
          <h3 class="pagination-centered"> You haven't applied to any jobs. click below to apply now!</h3>
        <% } %>
        <% jobApps.each(function(jobApp) { %>
          <tr>
              <td><a href="<%= jobApp.url() %>"><%= jobApp.escape('job_title') %></a></td>
              <td><a href="<%= jobApp.url() %>/edit">Edit My Application</a></td>
              <td><a href="#" class="cancel">Cancel My Application</a>
          </tr>
         <% }) %>
      </tbody>
    </table>

    <div class="center_button">
      <a href="<%= Atlas.url %>" class="atlas_button">Apply to more jobs!</a>
    </div>
  </div>
</div>
