<div class="form-group">
  <label for="chinese-ability">Chinese Ability</label>
  <select id="chinese-ability" class="common-app-field form-control chosen-select" data-placeholder="e.g Working Proficiency">
    <option value="0">No Speaking Skills</option>
    <option value="1">Basic Proficiency</option>
    <option value="2">Working Proficiency</option>
    <option value="3">Complete professional fluency</option>
  </select>
</div>

<div class="form-group">
  <label for="preferred-cities">Preferred Cities</label>
  <select id="preferred-cities" multiple class="common-app-field form-control chosen-select" data-placeholder="e.g Guanzhou">
    <option value="Beijing">Beijing</option>
    <option value="Shanghai">Shanghai</option>
    <option value="Guangzhou">Guangzhou</option>
    <option value="Shenzhen">Shenzhen</option>
  </select>
</div>

<div class="form-group">
  <label for="preferred-industries">Preferred Industries</label>
  <select id="preferred-industries" multiple class="common-app-field form-control chosen-select" data-placeholder="e.g Construction">
    <option value="Construction">Construction</option>
    <option value="Hospitality">Hospitality</option>
    <option value="Design">Design</option>
    <option value="Architecture">Architecture</option>
  </select>
</div>
