<div class="col-sm-12 col-md-8 col-md-offset-2">
  <nav class="candidate-opts">
    <a href="#/shortlisted" class="shorlisted-nav atlas_button box_button">See Shortlisted</a>
    <a href="#" class="all-nav atlas_button box_button">All Candidates</a>
    <a href="#potentials" class="potential-nav atlas_button box_button">Potential Candidates</a>
  </nav>
</div>