<% provide(:title, current_user.name) %>
<h1><%= current_user.name %></h1>


<%if current_user.common_app.any? %>
	<ul>
		<%= render @common_apps %>
	</ul>
<% else %>
	<h4> It looks like you haven't filled in your common application. Click the button below to get started <br/> &nbsp; </h4> 
	<%= link_to "Get Started", new_common_app_path, :class => "button" %>
<% end %>

