@import "bootstrap";
@import "bootstrap-responsive";
@import "editable/bootstrap2-editable";
@import "editable/inputs-ext/bootstrap-wysihtml5";
@import "editable/inputs-ext/wysiwyg-color";

/*
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-55Roma';
font-family:'HelveticaNeueW01-56It';
font-family:'HelveticaNeueW01-65Medi';
font-family:'HelveticaNeueW01-75Bold';
font-family:'HelveticaNeueW01-67MdCn 692710';
font-family:'HelveticaNeueW01-77BdCn 692722';
font-family:HelveticaNeueW01-57Cn';
*/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$condensed: 'HelveticaNeueW01-57Cn';
$medium-condensed: 'HelveticaNeueW01-67MdCn 692710';
$atlaswhite: #f7f7f7;
$atlasdarkerwhite:#c9d1d3;
$atlasblack: #2b2b2b;
$atlasred:#951a12;
$atlasoverlay: rgba(29,29,29,0.61);
$atlasgray: #9ca1a2;
$purewhite: #fff;
$atlaslightblue:#f2f7fa;
$atlassuperlightwhite: #f9f9f9;

body{
	background-color:$atlaswhite;
}

h1, h2, h3, h4, p, li, span, a, input {
	-webkit-font-smoothing: antialiased;
}

h2,h3{
	font-family:'HelveticaNeueW01-57Cn';
	font-weight:normal;
  a{
    &:hover{
      text-decoration:none;
      color:$atlasblack;
    }
  }
}
a{
	color:$atlasred;
}

p{
	font-size:16px;
	color:$atlasblack;
	line-height:1.6;
	margin-bottom:20px;
}


header{
	float:left;
  .brand{
    float:left;
    width:100%;
    padding-top:15px;
  }
}

.overlay{
  float:left;
  width:100%;
  height:100%;
  background-color:$atlasoverlay;
}

/*Initialize*/

#main-menu {
  padding: 0;
  margin: 0;
  li {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        display: inline-block;
      }
    }
    list-style-type: none;
    display: inline-block;
    a, ul li a {
      text-decoration: none;
      font-family: $medium-condensed;
      color: $atlasblack;
      font-size: 15px;
      line-height: 1.6;
      padding: 5px;
      display: inline-block;
    }
    a {
      margin-left: 30px;
      @include transition(color 2s ease);
      &:hover {
        color: $atlasred;
        background-color: transparent;
      }
    }
    ul li {
      float: left;
      width: 100%;
      a {
        margin-left: 0;
        text-align: center;
        float: left;
        width: 100%;
        background-color: $atlaswhite;
        border-bottom: 1px solid $atlasdarkerwhite;
        &:hover {
          background-color: $purewhite;
        }
      }
    }
  }
  float: right;
}


/*Link Appearance*/

/*Make the parent of sub-menu relative*/

ul#main-menu li {
  position: relative;
  ul {
    display: none;
    position: absolute;
    top: 70px;
    left: -10px;
    width: 120px;
    background-color: white;
  }
}

/*sub menu*/

#main-menu li:hover ul {
  display: block;
}

#main-menu li > a {
  border-top:2px solid transparent;
  padding-top:40px;
  &:hover{
    border-top:2px solid $atlasred;
  }
}

/*  */ 

.center_button{
  float: left;
  width: 100%;
  text-align: center;
  .atlas_button{
    width:25%;
    margin:0 auto;
    margin-bottom:10px;
  }
}
.atlas_button{
  font-size:22px;
  background:$atlasred;
  -webkit-box-shadow: inset 1px 1px 17px 1px rgb(116, 30, 30);
  box-shadow: inset 1px 1px 17px 1px rgb(116, 30, 30);
  color:$purewhite;
  font-family:'HelveticaNeueW01-77BdCn 692722';
  font-weight:normal;
  padding:13px 19px;
  @include transition(all 1s ease);
  display:inline-block;
  border:none;

  &:hover{
    color:$purewhite;
    text-decoration: none;
    background:#762019;
    -webkit-box-shadow: inset 3px 3px 17px 3px rgb(116, 30, 30);
    box-shadow: inset 3px 3px 17px 3px rgb(116, 30, 30);
  }
}
.light_gray{
  font-family:$condensed;
  float: left;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color:$atlasdarkerwhite;
  box-shadow: none;
  color:$atlasblack;
  &:hover{
    color:$atlasblack;
    text-decoration: none;
    background:$atlasgray;
    box-shadow:none;
  }
}


.thinstripe, .thinstripe_advisor, .thinstripe_about, .thinstripe_company{
  width:100%;
  height:125px;
  background: image-url('career_header.jpg') no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top:10px;

  .profile_header{
    float:left;
    width:100%;
    padding-top:10px;
    h2{
      margin-top:25px;
      font-family:$condensed;
      float:left;
      width:100%;
      color:white;
      border-bottom:1px solid $purewhite;
      padding-bottom:10px;
    }
    a{
      color:$atlaswhite;
      &:hover{
        color:$atlaslightblue;
      }
    }
  }
}
.thinstripe_advisor{
  background: image-url('advisor_header.jpg') no-repeat center; 
}

.thinstripe_about{
  background: image-url('about_header.jpg') no-repeat center; 
}
.thinstripe_company{
  background: image-url('pro_header.jpg') no-repeat center; 
}

/* Fancy Select */

div.fancy-select {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #46565D;
}

div.fancy-select.disabled {
  opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
  
}

div.fancy-select select:focus + div.trigger.open {
  box-shadow: none;
}

div.fancy-select div.trigger {
  cursor: pointer;
  padding: 12px 24px 11px 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family:$condensed;
  position: relative;
  background: white;
  color: $atlasblack;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 200px;
  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
  -moz-transition: all 240ms ease-out;
  -ms-transition: all 240ms ease-out;
  -o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #4B5468;
  top: 20px;
  right: 9px;
}

div.fancy-select div.trigger.open {
  color:$atlasred;
}

div.fancy-select div.trigger.open:after {
  border-top-color: #7A8498;
}

div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 0px;
  left:0px;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  max-height: 200px;
  overflow: auto;
  background: white;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 233px;
  padding: 6px 0;

  transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
  visibility: visible;
  top: 50px;
  opacity: 1;

  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
  transition: opacity 300ms ease-out, top 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
  top: auto;
  bottom: 40px;

  transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
  top: auto;
  bottom: 50px;

  transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
  padding: 6px 12px;
  color: $atlasblack;
  font-family:$condensed;
  cursor: pointer;
  white-space: nowrap;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.hover {
  color: $red;
  background-color:$atlaslightblue;
}
.job_search{
  float:left;
  width:100%;
  margin:20px 0;
}
#jobs_filter{
  width: 508px;
  margin: 0 auto;    
  h3{
    float:left;
  }
  .filter_sect{
    margin-top:10px;
    float:left;
    width:240px;
    margin-left:20px;
  }
  .filter_search{
    width:100px;
    .atlas_button{
      padding: 12px 19px;
    }
  }
}

.second_container{
  border-top:1px solid $atlasdarkerwhite;
  float:left;
  width:100%;
  background-color:$atlassuperlightwhite;
  
  .how_it_works{
    float: left;
    width: 90%;
    margin: 10px 5%;
    margin-bottom:0px;
    .circle_container{
      float:left;
      width:50%;
      .circle{
      width: 35px;
      height: 35px;
      margin: 0 auto;
      background: $atlasdarkerwhite;
      border-radius: 35px;
      }
    }
    .steps{
      float: left;
      width: 100%;
      background: url(assets/img/line-below.jpg) 25% 0% repeat-y;
      padding-bottom: 10px;
    }
    .step{
      margin: 20px 0;
      float:left;
      width:100%;
      border-bottom:$atlasdarkerwhite;
      .step_text{
        float: left;
        width: 50%;
        h3{
          background-color: $atlaswhite;
          border: 5px solid $atlasdarkerwhite;
          margin: 0% 12%;
          text-align: center;
          padding: 10% 5px;
        }
      }
      .step_img {
        float: left;
        width:50%;
        img{
          width: 80%;
          margin: 0 5%;
          border: 5px solid $atlasdarkerwhite;
        }
      }
    }
  }
}
.container_header{
  float: left;
  width: 100%;
  text-align: center;
  margin:20px 0;
  color:$atlasred;
  font-family:$condensed;
}

.first_container{
  float:left;
  width:100%;
  border-top:1px solid $atlasdarkerwhite;
  padding-bottom:30px;
}
.content-header{
  float:left;
  width:100%;
  border-bottom:1px solid $atlasdarkerwhite;
  margin-top:10px;
  margin-bottom:10px;
  h2, h3{
    float:left;
    width:100%;
    color:$atlasred;
    padding-bottom:10px;
    margin-bottom:5px;
    border-bottom:1px solid $atlasdarkerwhite;
  }
}

.jobs{
  list-style-type:none;
  margin:0;
}

.opp{
  margin:15px 0;
  border-bottom:2px dotted $atlasdarkerwhite;
  .side_info{
    .side_title{
      float:left;
      width:100%;
      background:image-url('pin.png') no-repeat right center;

      h4{
        font-family: $condensed;
        color:$atlasblack;
        font-weight:normal;
        font-size:17px;
      }
    }
    .location{
      float:left;
      width:100%;
      .opp_location{
        margin-top:-20px;
        list-style-type:none;
        margin:0;

        li{
          font-family:$condensed;
          background-color:$atlasblack;
          color:white;
          padding:4px;
          a{
            color:$purewhite;
          }
        }
        .alternate{
          background-color:$atlaslightblue;
          color:$purewhite;
        }
      }

    }
  }
  .main_info{
    h2{
      font-family:'HelveticaNeueW01-77BdCn 692722';
      margin-top:0px;
      font-size:24px;}
    p{
      font-size:15px;
    }
  }
  .apply{
    .search_button{
      font-size:22px;
      padding:15px 0;
      text-transform: none;
    }
    .full_desc{
      margin: 10px 0;
      text-align: center;
      float: left;
      width: 100%;
      a {
        color:$atlasblack;
        font-family:$condensed;
        &:hover{
          color:$atlasred;
        }
      }
    }
  }
}

.not_found{
  p {text-align:center;}
  .atlas_button{
    width:35%;
  }
  .center_button{
    margin-bottom:20px;
  }
}


footer{
  position:absolute;
  width:100%;
  bottom:0;
  background-color:$atlasblack;
  padding-top:30px;
  padding-bottom:20px;

  ul{
    list-style-type:none;
  }
  a, p{
    color:$atlaswhite;
    font-size:15px;
    margin-bottom:0px;
  }
  a:hover{
    color: $purewhite;
  }
}

.single_opp{
  float:left;
  width:100%;
  padding:20px;

  .single_cover{
    float:left;
    width:100%;
    border-bottom:2px dotted $atlasdarkerwhite;
    margin-bottom:15px;
    padding-bottom:15px;
  }
  p{
    font-size:16px;
  }
  .resp{
    list-style-type:none;
    margin-left:30px;
    li{
      margin-bottom:10px;
      font-weight:normal;
      font-family:$condensed;
      background:image-url('arrow.png') left center no-repeat;
      padding-left:20px;
      font-size:16px;
    }
  }

  .opp_header{
    h2{
      font-weight:normal;
      font-family:$condensed;
      font-size:18px;
      color:$atlasred;
      margin-bottom:0px;
      padding:0;
    }
    float:left;
    width:100%;
    border-bottom:2px solid $atlasdarkerwhite;
    padding-bottom:10px;
    padding-top:20px;
    margin-bottom:20px;

  }

  h4{
    font-weight:normal;
    font-family:$condensed;
    font-size:17px;
    color:$atlasblack;
  }
  .main_resp{
    list-style-type:none;
    margin-left:30px;
    margin-bottom:20px;

    li{
      margin-bottom:10px;
      font-weight:normal;
      background:image-url('arrow.png') left center no-repeat;
      padding-left:20px;
      font-size:16px;     
    }
  }

  .apply{
    float:left;
    width:100%;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    a{
      float:left;
      width:90%;
      background-color:$red;
      padding:10px 5%;
      font-family:'HelveticaNeueW01-65Medi';
      color:white;
      font-size:20px;
      @include transition(all 2s ease);
      &:hover{
        background-color:$purple;
      }
    }
  }

}

