<div class="container">
  <div class="col-sm-12">
    <ul class="common-app-nav">
      <li class="col-sm-12 col-md-3">
        <a href="#" class="personal-info-nav">
          <i class="stage-icn">1</i>
          Personal Section
        </a>
      </li>
      <li class="col-sm-12 col-md-3">
        <a class="career-nav" href="#/career">
          <i class="stage-icn">2</i>
          Career Section
        </a>
      </li>
      <li class="col-sm-12 col-md-3">
        <a class="video-nav" href="#/video">
          <i class="stage-icn">3</i>
          Introduce Yourself
        </a>
      </li>
      <li class="col-sm-12 col-md-3">
        <a class="jobs-nav" href="#/jobs"><i class="glyphicon glyphicon-ok" /> My Jobs
      </li>
    </ul
  </div>
</div>