<div class="container">
  <div class="col-sm-12">
    <ul class="common-app-nav">
      <li class="col-sm-12 col-md-3">
        <a href="#" class="personal-info-nav"><i class="glyphicon glyphicon-user" /> Personal Information</a>
      </li> 
      <li class="col-sm-12 col-md-3">
        <a class="on-china-nav" href="#/on-china"><i class="glyphicon glyphicon-globe" /> On China</a>
      </li>
      <li class="col-sm-12 col-md-3">
        <a class="video-nav" href="#/video"><i class="glyphicon glyphicon-facetime-video" /> Introduce Yourself
      </li>
      <li class="col-sm-12 col-md-3">
        <a class="jobs-nav" href="#/jobs"><i class="glyphicon glyphicon-ok" /> My Jobs
      </li>
    </ul
  </div>
</div>