<div class="container">
  <div class="col-sm-12">
    <ul>
      <li class="col-sm-12 col-md-4">
        <a href="#" class="active"><i class="glyphicon glyphicon-user" /> Personal Information</a>
      </li> 
      <li class="col-sm-12 col-md-4">
        <a href="#/on-china"><i class="glyphicon glyphicon-globe" /> On China</a>
      </li>
      <li class="col-sm-12 col-md-4">
        <a href="#/video"><i class="glyphicon glyphicon-facetime-video" /> Introduce Yourself
      </li>
    </ul
  </div>
</div>