  <div class="container">
    <header>
        <div class="row">
            <div class="span3">
                <div id="logo">
                    <a class="brand" href="#" title="<%= full_title(yield(:title)) %>" rel="home">
                     <img src="#" alt="Atlas China"/></a>
                </div>
            </div><!--span3-->
        </div><!--row-fluid header-->
    </header><!--header-->
   </div><!--container.header-->