header
  .container
    .row
      .span3
        == link_to image_tag("logo.png", alt: full_title(yield(:title))), root_path_helper, class: "brand"
      .span9
        nav.menu
          - if signed_in?
            - if current_user.admin?
              li == link_to "Dashboard", admin_path
            - else
              li == link_to "Profile", current_user 
            li == link_to "Settings", edit_user_path(current_user)
            li == link_to "Sign out", signout_path, method: "delete" 
          
          - else
            li == link_to "Sign up", signup_path
            li == link_to "Sign in", signin_path